.bridge {
}

.bridge .steps {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bridge .steps .step {
	border-radius: 100%;
	padding: 1rem;
	width: 1rem;
	height: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border: 1px solid var(--color-white);
	color: var(--color-white);
}

.bridge .steps .step.active {
	color: var(--color-green);
	background: var(--color-white);
}

.bridge .steps .step:not(:last-child) {
	margin-right: 5rem;
}
.bridge .steps .step:not(:last-child)::after {
	content: "";
	width: 4.5rem;
	height: 1.5px;
	position: absolute;
	left: calc(100% + 0.5rem);
	background: repeating-linear-gradient(
		90deg,
		#fff 0,
		#fff 1.5px,
		#0000 1.5px,
		#0000 8px
	);
}

.bridge .step-1 {
	margin-top: 1rem;
}
.bridge .step-1 .token-amount {
	padding: 0.3rem 0.8rem;
	width: 100%;
	border: none;
	font-size: bold;
	font-size: 1.2rem;
	border-radius: 0.5rem;
	margin-top: 0.2rem;
}

.bridge .step-1 .chain {
	margin-top: 0.5rem;
}

.bridge .step-1 .chain .chain-icon {
	margin-right: 0.5rem;
}

.bridge .step-1 .chain .chain-name {
	display: flex;
	align-items: center;
	margin-top: 0.2rem;
	width: 100%;
	background: var(--color-white-2);
	background: linear-gradient(
		to bottom right,
		var(--color-green) 10%,
		var(--color-green-light) 100%
	);
	padding: 0.3rem 0.6rem;
	border-radius: 0.5rem;
	font-size: 1.355rem;
	color: var(--color-white-2);
}

.bridge .step-1 button {
	display: block;
	margin: auto;
	margin-top: 1rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: none;
	font-family: inherit;
	color: var(--color-green);
	width: 60%;
	cursor: pointer;
}

.bridge .step-1 .exchange-arrow {
	display: block;
	margin: auto;
	margin-top: 1rem;
	cursor: pointer;
}

.bridge .step-2 {
	margin-top: 1rem;
	font-size: 1.2rem;
}
.bridge .step-2 ul {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.bridge .step-2 .info {
	margin-top: 0.5rem;
	text-align: center;
}
.bridge .step-2 button {
	padding: 0.5rem;
	border-radius: 0.3rem;
	border: none;
	font-family: inherit;
	color: var(--color-green);
	display: block;
	margin: auto;
	margin-top: 1rem;
	cursor: pointer;
}

.bridge .step-1 .pending-tx-button {
	text-align: center;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	font-size: 0.8rem;
	text-decoration: underline;
	cursor: pointer;
}

.bridge .pending-transactions {
}

.bridge .pending-transactions h2 {
	font-size: 1rem;
}
.bridge .pending-transactions .error {
	text-align: center;
	margin-bottom: 2rem;
}
.bridge .pending-transactions .tx-list {
	margin-top: 0.5rem;
	list-style: none;
	background: var(--color-white);
	color: var(--color-green);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
}
.bridge .pending-transactions .tx-list .chain-route {
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
}
.bridge .pending-transactions .tx-list h3:last-child {
	margin-left: 3rem;
}
.bridge .pending-transactions .tx-list button {
	padding: 0.3rem 0.5rem;
	border: none;
	background: var(--color-green);
	color: var(--color-white);
	font-family: inherit;
	border-radius: 0.5rem;
	margin-top: 0.5rem;
	cursor: pointer;
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.pulsing-4 {
	width: 8rem;
	height: 8rem;
	position: relative;

	margin: auto;
	margin-top: 2rem;
	margin-bottom: 5rem;

	animation: pl4_rot 1.5s linear infinite;
}
.pulsing-4:before,
.pulsing-4:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	inset: 0;
	background: radial-gradient(circle 10px, #f6d267 94%, #0000),
		repeating-conic-gradient(from -30deg, #0000 0 60deg, #f6d267 61deg 120deg);
	-webkit-mask: radial-gradient(
		circle 15px,
		#000 calc(100% - 6px),
		#0000 calc(100% - 5px) 94%,
		#000
	);
}

.pulsing-4:after {
	animation: pl4 1s infinite;
	transform: perspective(300px) translateZ(0px);
}

@keyframes pl4_rot {
	to {
		transform: rotate(360deg);
	}
}
@keyframes pl4 {
	to {
		transform: perspective(300px) translateZ(150px) rotate(180deg);
		opacity: 0;
	}
}
