.exchange {
	width: 100%;
}

.exchange .exchange-box {
	background-color: #677f44;
	background: linear-gradient(
		to bottom right,
		rgba(181, 180, 79, 0.85) 30%,
		rgba(103, 127, 68, 0.7) 99%
	);
	color: var(--color-white);
	margin: 5rem auto 0 auto;
	width: 35rem;
	padding: 1rem 3rem;
	border-radius: 1rem;
	backdrop-filter: blur(5px);
}

@media only screen and (max-width: 1000px) {
	.exchange .exchange-box {
		width: 70%;
	}
}
@media only screen and (max-width: 600px) {
	.exchange .exchange-box {
		width: 90%;
	}
}

.exchange .exchange-box .header h2 {
	font-size: 1.2rem;
}

.exchange .exchange-box .header {
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.exchange .exchange-box .header .sound {
	cursor: pointer;
}

.exchange .exchange-box .from,
.exchange .exchange-box .to {
	height: 3rem;
	border-radius: 5px;
	background-color: #546934;
	position: relative;
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 600px) {
	.exchange .exchange-box .from,
	.exchange .exchange-box .to {
		height: 90%;
	}
}

.exchange .exchange-box .arrow {
	position: relative;
	background: #546934;
	display: inline-block;
	padding: 4px;
	border-radius: 7px;
	border: 5px solid #677f44;
	margin-top: -50px;
	margin-bottom: -50px;
	z-index: 105;
	cursor: pointer;
}
.exchange .exchange-box .arrow img {
	transition: transform 0.2s ease-in-out;
}
.exchange .exchange-box .arrow .rot {
	transform: rotate(180deg);
}
.exchange .exchange-box .token {
	color: var(--color-white);
	display: flex;
	align-items: center;
	/* height: 100%; */
	background: #677f44;
	padding: 5px 10px;
	border-radius: 20px;
	margin-right: 1rem;
}
.exchange .exchange-box .token-name {
	font-size: 1rem;
	margin-left: 0.5rem;
}
.exchange .exchange-box .token-img {
	border-radius: 100%;
}

.input {
	border: none;
	outline: none;
	background: #546934;
	height: 100%;
	width: 80%;
	color: var(--color-white);
	border-radius: 5px;
	padding: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.input[type="number"] {
	-moz-appearance: textfield;
}

.exchange .meta {
	font-size: 0.7rem;
	border-top: 2px solid var(--color-white);
	padding-top: 1rem;
}
.exchange .meta .change-button {
	background: transparent;
	border: none;
	margin-left: 0.5rem;
	color: var(--color-white);
	cursor: pointer;
	text-decoration: underline;
}
.exchange .meta .meta-flex {
	display: flex;
	align-items: center;
}
.exchange .meta .meta-flex p {
	margin-left: 0.5rem;
}
