@font-face {
	font-family: "mikadobold";
	src: url("/mikadobold_demo.otf");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--color-primary: #a66c63;
	--color-secondary: ##e96217;
	--color-white: rgb(231, 231, 231);
	--color-white-2: rgb(217, 217, 217);
	--color-white-3: rgb(188, 188, 188);
	--color-black: rgb(29, 29, 29);
	--color-green: rgb(84, 105, 52);
	--color-green-light: rgb(166, 172, 87);
}
html {
	font-size: 100%;
}
body {
	margin: 0;
	font-family: mikadobold;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@media only screen and (max-width: 1000px) {
	html {
		font-size: 90%;
	}
}
@media only screen and (max-width: 800px) {
	html {
		font-size: 80%;
	}
}
@media only screen and (max-width: 600px) {
	html {
		font-size: 70%;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@import "./app.css";
@import "./connect.css";
@import "./exchange.css";
@import "./modal.css";
@import "./transaction.css";
@import "./wallets.css";
@import "./bridge.css";
